
<!--the below sentence includes the html code in the specified file in this case header -->
<%- include("partials/header")  -%>
  <div class="box" id="heading">
    <h1> <%= listTitle %></h1>
  </div>
  <div class="box">




    <%  for (let i = 0; i < newListItems.length; i++) {%>
    <div class="item">
      <input type="checkbox">
      <p><%= newListItems[i] %></p>
    </div>

    <%}%>
    <form class="item" action="/" method="post">
      <!-- autocomplete disables suggestions in the input dialog box-->
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>

</div>

<!--the below sentence includes the html code in the specified file in this case footer -->
<%- include("partials/footer")  -%>
